.container-fluid {
  height: -webkit-fill-available;
  padding-right: 0;
  padding-left: 0;
}

ul > li > a {
  color: rgb(230, 230, 230);
}

.navbar {
  width: 100%;
  background-color: rgb(14, 14, 14);
  -webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  font-family: "Bebas Neue", serif;
  color: red;
  font-size: x-large;
  margin-right: 2%;
  padding: 0;
}
